*{
  margin: 0;
  padding: 0;
}

fa-icon {
  font-size: 34px;
  color: brown;
  background-color: rgba(10, 10, 10,0.1);
  outline: 1px solid transparent;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
